.task {
    border: 1px solid black;
    margin: 10px 100px;
    padding: 5px;
    border-radius: 10px;
}

.box-content i {
    font-size: 12px;
    color: rgb(209, 206, 206);
}

hr {
    border: none;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(118, 145, 127);
    width: 100%;
}

.box-content textarea,
.box-content input {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    display: flex;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 100%;
}

.date {
    margin-left: 50px;
}


.bi:hover {
    color: rgb(0, 255, 136);
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
}